body{
    background-color: rgb(241, 241, 241);
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstHeader > section > a{
    text-decoration: none;
}
.firstHeader{
    margin: 10%;
    display: flex;
    height: 65vh;
}

/* .firstHeader > section{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.phonesHomePageImage{
    height: 45vh;
    box-shadow: 5px 5px 5px rgb(194, 194, 194);
}

.sellYourDevicesSection{
    margin-left: 40px;
    text-align: left;
}

.sellYourDevicesSection > p{
    font-size: 18px;
}

.phoneListDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.phoneListDescription > h1{
    color: #ef6c00;
}

.phoneList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 10px;
    border-radius: 7px;
    margin-top: 5vh;
    background-color: white;
    width: 40vw;
    height: 80vh;
    box-shadow: 5px 5px 5px rgb(194, 194, 194);
}



.phoneList > div{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
.phoneList > div> :nth-child(2) {
   margin-top: 7px;
   text-decoration: none;
}

.devicesStyle{
    height: 25vh;
}

#sell{
    background-color: rgb(221, 221, 221);
    padding: 5%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
}

footer{
    background-color: rgb(241, 241, 241);
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 5px 5px rgb(99, 98, 98);
    position: relative;
    bottom: 0px;
}

.footerContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    margin-left:5vw;
    text-decoration: none;
}
.footerContainer > *{
    color: black;
    text-decoration: none;
    width: 90vw;
    display: flex;
    justify-content: center;
}
.footerLogo{
    width: 5vw;
    display: flex;
    margin-left: 3vw; 
}