.admin-main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  background-color: #5e35b1;
  width: 15%;
  height: 100vh;
}

.sidebar h3 {
  color: white;
}

.main-content {
  background-color: rgb(237, 235, 235);
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.widget-container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.lg-widget {
  width: 90%;
  height: 400px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.widget {
  background-color: white;
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

.dataTable {
  display: flex;
}
