.body-div{
    margin: 5%;
    margin-top: 0px;
}




.phone-listing{
    margin: 7%;
    flex-wrap: wrap;
}

.link-style{
    margin: 1%;
    text-decoration: none;
    color: black;
}

.device-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: black;
    width: 15vw;
    height: 30vh;
    margin: 2%;
    border-radius: 15px;
}

.iphone-images{
    height: 15vh;
    width: 5vw;
}


.device-box:hover{
    box-shadow: 2px 2px 2px black;
    background-color: #f9a825;
    color: black;
}