.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ****************************************************************NAVBAR STYLING ****************************************************************/
.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color:  rgb(29, 29, 29);
  height: 10vh;
}

.navBar > *{
  text-align: center;
  margin-top: 2vh;
  padding-top: 2vh;
  height: 3vh;
  width: 4vw;
  color:rgb(146, 134, 134);
  text-decoration: none;
  font-size: 2vh;
  border-radius:5px;
}



/* **************************************************************** PHONE LISTING STYLING******************************************************************************** */


.iphone-images{
  height: 10vh;
  width: 3vw;
}

.samsung-images{
  height: 10vh;
  width: 4vw;
}

.phone-listing{
  margin: 15vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ipad-images{
  height: 10vh;
}

.storage-img{
  height: 10vh;
  width: 6vw;
}


.storage-listing{
  margin: 20%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.final-offer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10vh;
}

.offer-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 40vh;
  background-color: #EEE4DC;
  padding: 5vh;
}
.offer-div > *{
  margin: 0;
}
.amount{
  margin: 0;
  font-size: 5vw;
}

.product-info{
  display: flex;
  align-items: space-around;
  align-items: center;
}
.product-info img{
  height: 60vh;
  margin-right: 4vw;
}

.get-paid-btn{
  width: 50%;
}

.user-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-sizing{
  width: 35vw;
  margin-top: 2.5vh;
  display: flex;
  justify-content: center;
}

.box-sizing > *{
  width: 20vw;
  margin-top: 2.5vh;
}

.form-select{
  margin-top: 2vh;
  width: 20vw;
}